* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: lightgraywhite;
}

.welcome {
  text-align: center;
  background-color: lightslategray;
  line-height: 3em;
  color: white;
}

header {
  position: relative;
  background-color: black;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 4em;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
}

header a:hover {
  color:black;
  background-color: white;
}

header a:focus {
  background-color: lightblue;
}

footer {
  position: relative;
  background-color: black;
  width: auto;
}
footer nav {
  display: flex;
  height: 12em;
  align-items: center;

} 

footer ul {
  color: lightgray;
  width: 100%;
  text-align: center;
  list-style: none;
  object-fit: contain;
}

footer a {
  color: lightgray;
  text-decoration: none;
  font-size: 1rem;
}

footer a:hover {
  color:black;
  background-color: white;
}

footer a:focus {
  background-color: lightblue;
}

h1 {
  color: black;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.index img {
  height: auto;
  width: 100%; 
}

.index article {
  height: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index article p {
  width: 16em;
  color: gray;
  font-size: 1.5vw;
}


.index div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index div img {
  width: 40%;
}

.index div p {
  color: black;
  text-align: center;
  font-size: 1.5vw;
  width: 30%;
}

.index div a {
  list-style: none;
  text-decoration: none;
  color: green;
}

.merch div img {
  width: 50%;
  display: flex;
  margin: 0 auto;
}

.merch div p {
  text-align: center;
  font-size: 1.2vw;
}

.merch div a {
  text-decoration: underline;
  color: rgb(1, 74, 1);
}


.merch h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.history main {
  margin: auto;
  align-items: center;
  width: 40%;
  display: flex;
  row-gap: 1em;
  flex-direction: column;

}

.history article{
  line-height: 1.4em;
  font-size: 1vw;

}

.history h2{
  line-height: 3rem;
}
.history img, iframe {
  width: 100%;
}

.history main ul {
  line-height: 2em;
  width: 80%;
}

.history ul h2{
  text-align: center;
}
.history h3{
  color: gray;
  font-size: 0.7vw;
}

.history main a{
  text-decoration: none;
  color: gray;
}

.history main div{
  border: white solid 1em;
}


.discography main{
  display: flex;
  row-gap: 5em;
  flex-direction: column;
  text-align: center;

}

.discography img{
  width: 40%;
  margin: 0 auto;  
}

.discography div p {
  text-align: center;
  font-size: 1.2vw;
}

.discography div a {
  text-decoration: none;
  color: green;
}

.discography div{
  width: 100%;

}
